*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-transform:capitalize;
}
.carousel-item > img{
    width:50%;
    height: 500px;
}
.carousel-caption h5, p, a{
    color:black;
}
.carousel-caption a{
    cursor:pointer;
    background-color: orange;
    border-radius: 5px;
}
#card1{
    margin: 20px;
}
.row{
    width: 100%;
    left: 10px;
}
.row .card{
    
    margin: 15px;
}
